<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text" #username></ion-input>
  </ion-item>

  <p ion-text color="danger">{{ message }}</p>

  <button ion-button full (click)="sendValue(username.value)">Search</button>

</ion-content>
